{#
 * @copyright 2026 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array  files
 * @param array  params    Query parameters
 * @param string sort      Current sorting
 * @param int    total
 * @param int    itemsPerPage
 * @param int    currentPage
 *
 * @param array  origins
 * @param array  departments
 * @param array  committees
 * @param array  types
 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/pagination.twig" as pagination %}
{% import  "html/macros/forms.twig"      as forms      %}
{% block content %}
<section>
    <header><h1>Legacy Inaccessible File Archive</h1></header>

    <div class="grid-row">
        <div class="desktop:grid-col-7 desktop:order-last desktop:margin-left-1">{{ include('html/about.twig') }}</div>
        <form class="usa-form desktop:grid-col-4">
            <fieldset class="usa-fieldset">
                <legend class="usa-legend">Search parameters</legend>
                {{ forms.field_text(  'filename',   'filename',   'Filename',   params.filename   ?? '' ) }}
                {{ forms.field_select('department', 'department', 'Department', params.department ?? '', departments ) }}
                {{ forms.field_select('origin',     'origin',     'Origin',     params.origin     ?? '', origins     ) }}
                {{ forms.field_select('committee',  'committee',  'Committee',  params.committee  ?? '', committees  ) }}
                {{ forms.field_select('type',       'type',       'Type',       params.type       ?? '', types       ) }}
                {{ forms.field_date(  'date',       'date',       'Date',       params.date       ?? '' ) }}

                <input name="sort" type="hidden" value="{{ sort }}" />
                {{ forms.button('submit', 'Search', 'search') }}
                <a class="usa-button" href="{{ BASE_URL }}">Reset</a>
            </fieldset>
        </form>
    </div>

    {% if isAllowed('files', 'add') %}
    <div>{{ forms.actionLink( uri('files.add'), 'Add File', 'add') }}</div>
    {% endif %}

    <table class="usa-table usa-table--compact">
    <thead>
        <tr>{{ pagination.sortable_header('filename',   'Filename',   sort, params) }}
            {{ pagination.sortable_header('origin',     'Origin',     sort, params) }}
            {{ pagination.sortable_header('department', 'Department', sort, params) }}
            {{ pagination.sortable_header('committee',  'Board',      sort, params) }}
            {{ pagination.sortable_header('type',       'Type',       sort, params) }}
            {{ pagination.sortable_header('date',       'Date',       sort, params) }}
            {{ pagination.sortable_header('uploaded',   'Uploaded',   sort, params) }}
        </tr>
    </thead>
    <tbody>
        {% for f in files %}
        <tr><td><a href="{{ uri('home.info', { id:f.id } ) }}">{{ f.filename }}</a></td>
            <td>{{ _(f.origin) }}</td>
            <td>{{ f.department }}</td>
            <td>{{ f.committee }}</td>
            <td>{{ f.type }}</td>
            <td>{{ f.date|date(DATE_FORMAT) }}</td>
            <td>{{ f.uploaded|date(DATE_FORMAT) }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    {% if total > itemsPerPage %}
        {{ pagination.pageLinks(REQUEST.uri.path, params, total, itemsPerPage, currentPage) }}
    {% endif %}
</section>
{% endblock %}
